<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Kódování/dekódování textu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Zadejte vstupní data</h1>
    <form action="#" th:action="@{/coding}" th:object="${coding}" method="post">
    	<table>
    	<tr>
    		<td>Zdroj:</td><td>
				<select th:field="*{source}">
					<option th:each="coding : ${codings}"
                            th:value="${coding}"
                            th:utext="${coding}"/>
                    </option>
                </select>
    		</td>
    	</tr>
    	<tr>
    		<td>Cíl:</td><td>
				<select th:field="*{destination}">
					<option th:each="coding : ${codings}"
                            th:value="${coding}"
                            th:utext="${coding}"/>
                    </option>
                </select>
    		</td>
    	</tr>
    	<tr>
    		<td>Data:</td><td><input type="text" th:field="*{text}" /></td>
    	</tr>
    	</table>
        <p><input type="submit" value="Odeslat" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
