<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Kódování/dekódování textu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Výsledek</h1>
    <p th:text="'Zdroj ' + ${codingCrate.source}" />
    <p th:text="'Cíl ' + ${codingCrate.destination}" />
    <p th:text="'Vstupní text ' + ${codingCrate.text}" />
    <p th:text="'Kódovaný text ' + ${codingCrate.result}" />
    <a href="/coding">Vložení dalšího textu</a>
</body>
</html>
